#number-projects-nd {
    font-size: 60px;
}

#totalPopulationCount {
    font-size: 20px;
}

#ruralPopulationCount {
    font-size: 20px;
}
#urbanPopulationCount {
    font-size: 20px;
}
#malePopulationCount {
    font-size: 20px;
}
#femalePopulationCount {
    font-size: 20px;
}
.dc-chart g.row text {
    fill: black;
    font-size: 14px;
}
